body{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFDAB9;
}
h3{
    font-size:2rem;
    text-align: center;
    color:black;
    font-weight: bold;
}
.game{
    display:grid;
    margin:40px auto;
    grid-template-columns: repeat(4,120px);
    grid-row-gap:2em;
    align-items: center;
    justify-content: center;
}
#timer {
    text-align: center;
    font-size: 1.5rem;
    color: blue;
    margin-bottom:5px;
}

#gameBoard div{
    height:150px;
    width:80px;
    border:2px solid rgb(151, 151, 202);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2em;
    color:red;
    background-color: #e5e5f7;
}
.cardback{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}
#gameBoard div:hover{
    cursor:pointer;
}
.won {
    font-size: 3em;
    text-align: center;
    color: #FFD700; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.game-over {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.game-over p {
    font-size: 2rem;
    color: red; 
    margin-bottom: 10px;
}

.game-over button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    cursor: pointer;
}
